h1{
    font-size: 96px;
    font-weight: 600;
    line-height: 113px;
}

@media screen and (max-width:576px){
    h1{
        font-size: 48px;
        line-height: 56px;
    }
    
    h2{
        font-size: 32px;
        line-height: 37px;
    }

    h3{
        font-size: 24px;
        line-height: 28px;
    }

    h4{
        font-size: 15px;
    }

    a{
        font-size: 18px;
        line-height: 21px;
    }
}

h2{
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-transform: uppercase;
}

h3{
    font-size: 48px;
    font-weight: normal;
    line-height: 56px;
}

h4{
    margin-top: 20px;
    font-size: 15px;
}

a{
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover{
    color: limegreen;
}

.button{
    background-color: rgb(106, 65, 133);
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 37px;
    border: none;
}