*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

#milano{
    background-image: url(img/milano.jpg);
    
}

#parigi{
    background-image: url(img/parigi.jpg);
    
}

#roma{
    background-image: url(img/roma\ \(2\).jpg);
    
}

.box{
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.maintext{
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

}