body {
    background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
  }

*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Scritta{color: white;
}

hr{color: white;
    
}

header, nav, main, footer {

    margin-left: 20%;
    margin-right: 20%;

}

header{
    margin-top: 7px;
    
}

nav, main {
    
    margin-top: 6px;

}

#Searchbox, #Submitbox{

    max-width: 142px;
    max-height: 22px;
}


#number{

    display: inline-block;
    background-color: orange;
    border-radius: 90px;
    height: 25px;
    padding: 2px;
    
}

#unread{

    font-size: 22px;
    margin-top: 9px;
    margin-bottom: 2px;
}

#gmail1{

    font-size: 25px;
    margin-left: 3px;
}


table, .oggetto{

    background-color: lightgray;
}



.oggetto{
    display: inline-block;
    width: 35%;
    border: black solid 2px;
    
}

.testomail{
    display: inline-block;
    background-color: lightblue;
    width: 64%;
    border: blue solid 1px;
    
}

footer{

    
    margin-top: 6px;
    text-align: center;
    
}


#fine{

    color: white;
    display: inline-block;
    margin-top: 7px;
    font-size: 28px;
}

#firma{

    font-size: 11px;
}

#img1{

    border-radius: 10%;
}


.oggettoN{
    display: inline-block;
    background-color: rgb(163, 157, 157);
    width: 35%;
    border: black solid 2px;
    
}

.testomailN{
    display: inline-block;
    background-color: rgb(102, 189, 218);
    width: 64%;
    border: rgb(6, 6, 201) solid 1px;
    
}
